<ol class="breadcrumb col-lg-12" flex md-whiteframe="2">
    <li>
        <a href="#/home">Página Inicial</a>
    </li>
    <li>
        <a href="#/city">Lista de Setores</a>
    </li>
    <li class="active"><pz-new-edit id="district.id"></pz-new-edit></li>
</ol>

<pz-title>Setor: {{district.name}} - Taxa: {{district.deliveryFee | currency:'R$ '}}</pz-title>

<md-card flex class="col-md-12" md-whiteframe="2">
    <div class="col-md-12">
        <form novalidate name="form" class="row" ng-submit="submit()">
            <div layout-gt-xs="row">
                <md-input-container  md-colspan-sm="7"  md-rowspan="7" class="md-block" flex-gt-xs>    
                    <input name="name" ng-model="district.name" required placeholder="Nome do Setor">  

                    <span ng-show = "form.$submitted && form.name.$error.required"
                          class="form-control alert-danger">
                        Nome do Setor obrigatório
                    </span>
                </md-input-container>
                <md-input-container  md-colspan-sm="5"  md-rowspan="5" class="md-block" ng-controller="CitysController" >
                    <label>Cidade</label>
                    <md-select name="city" ng-model="district.city" ng-model-options="{trackBy: '$value.id'}" required>
                        <md-option ng-repeat="city in citys" ng-value="{{city}}" >
                            {{city.name}}
                        </md-option>
                    </md-select>

                    <span ng-show = "form.$submitted && form.city.$error.required"
                          class="form-control alert-danger">
                        Deve ser escolhido a cidade
                    </span>
                </md-input-container>
            </div>
            <md-input-container  class="md-icon-float md-icon-right md-block">
                <md-icon md-font-set="material-icons"> monetization_on </md-icon>
                <input name="Taxa" ng-model="district.deliveryFee"
                       type="number" required placeholder="Taxa do Setor"
                        ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.10">  
                <span ng-show = "form.$submitted && form.name.$error.required"
                      class="form-control alert-danger">
                    Taxa do Setor é obrigatório
                </span>
            </md-input-container>

            <pz-section>
                <pz-buttons-save></pz-buttons-save>
                <pz-buttons-return href='#/district'></pz-buttons-return>
            </pz-section>
    </div>
</md-card>