<ol class="breadcrumb col-lg-12" flex md-whiteframe="2">
    <li>
        <a href="#/home">Página Inicial</a>
    </li>
    <li class="active">
        Lista de Setores
    </li>
</ol>
<pz-title>Lista de Setores</pz-title>
<pz-card>
    <pz-button-add href='#/district/new'></pz-button-add>
    <table class="table table-bordred table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Taxa</th>
                <th>Cidade</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="district in districts">
                <td>{{district.id}}</td>
                <td>{{district.name}}</td>
                <td>{{district.deliveryFee | currency:'R$ '}}</td>
                <td>{{district.city.name}}</td>
                <td layout="row" layout-align="end center">
                    <pz-button-edit href="#/district/edit/{{district.id}}"></pz-button-edit>
                    <pz-button-remove action="confirmDeletion($event, district)"></pz-button-remove>
                </td>
            </tr>
        </tbody>
    </table>
</pz-card>