ng-md-icon {
    line-height: 5.8;
}
md-card{
    padding: 10px 0 10px 0;
    margin: 8px 0 8px 0;
}
.btn-add{
    position: absolute !important;
    right: 32px !important;
    top: -35px !important;
}
#content>md-content{
    background-color: rgba(163, 160, 160, 0.45) !important;
}
.breadcrumb {
    font-weight: bold;
    margin-bottom: 0;
    border-radius: 0;
}
md-content{
    padding: 0 8px;
}

.button-side{
    padding:0 16px !important;
}
.button-side-icon{
    max-width: 24px;
    margin: 12px 32px 12px 0;
}
.md-button-mini{
    min-width: 35px !important;
}

.styleDate{
    color: rgba(21, 53, 148, 0.64) !important;
}
md-input-container{
    margin-bottom: 0px !important;
    height: 45px !important;

}