<ol class="breadcrumb col-lg-12" flex md-whiteframe="2">
    <li>
        <a href="#/home">Página Inicial</a>
    </li>
    <li>
        <a href="#/city">Lista de Cidades</a>
    </li>
    <li class="active">
        <pz-new-edit id="city.id"></pz-new-edit>
    </li>
</ol>

<pz-title>Cidade: {{city.name}} - {{city.state.name}}</pz-title>

<md-card flex class="col-md-12" md-whiteframe="2">
    <div class="col-md-12">
        <form novalidate name="form" class="row" ng-submit="submit()">
            <div layout-gt-xs="row">
                <md-input-container  md-colspan-sm="9"  md-rowspan="9" class="md-block" flex-gt-xs="">    
                    <input name="name" ng-model="city.name" required placeholder="Nome da Cidade">  

                    <span ng-show = "form.$submitted && form.name.$error.required"
                          class="form-control alert-danger">
                        Nome da cidade obrigatório
                    </span>
                </md-input-container>
                <md-input-container  md-colspan-sm="3"  md-rowspan="3" class="md-block" ng-controller="StatesController" >
                    <label>Estado</label>
                    <md-select ng-model="city.state" ng-model-options="{trackBy: '$value.id'}" required>
                        <md-option ng-repeat="state in states" ng-value="{{state}}" >
                            {{state.uf}}
                        </md-option>
                    </md-select>
                </md-input-container>
            </div>
            <pz-section>
                <pz-buttons-save></pz-buttons-save>
                <pz-buttons-return href='#/city'></pz-buttons-return>
            </pz-section>
        </form>
    </div>
</md-card>