<ol class="breadcrumb col-lg-12" flex md-whiteframe="2">
    <li>
        <a href="#/home">Página Inicial</a>
    </li>
    <li class="active"> Lista de Cidades </li>
</ol>

<pz-title>Lista de cidades</pz-title>

<pz-card>
    <pz-button-add href="#/city/new"></pz-button-add>
    <table class="table table-bordred table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Cidade</th>
                <th>UF</th>
                <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="city in citys">
                <td>
                    {{city.id}}
                </td>
                <td>
                    {{city.name}}
                </td>
                <td>{{city.state.name}} - {{city.state.uf}}</td>
                <td layout="row" layout-align="end center">
                    <pz-button-edit href="#/city/edit/{{city.id}}"></pz-button-edit>
                    <pz-button-remove action="confirmDeletion($event, city)"></pz-button-remove>
                </td>
            </tr>
        </tbody>
    </table>
</pz-card>