
<h1 class="page-header">
    Cadastros
</h1>
<ol class="breadcrumb">
    <li class="active">
        Cadastro
    </li>
</ol>
<md-card flex class="col-sm-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Cadastro Pessoas</h3>
        </div>
        <div class="panel-body">

            <div class="btn-group">
                <a href="/#/state" class="btn btn-primary">Estado</a>
                <a href="/#/city" class="btn btn-primary">Cidade</a>
                <a href="/#/district" class="btn btn-primary">Bairro</a>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-success">Clientes</button>
                <button type="button" class="btn btn-success">Fornecedores</button>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Cadastro Produtos</h3>
        </div>
        <div class="panel-body">
            <div class="btn-group">
                <a href="/#/state" class="btn btn-primary">Categoria</a>
                <a href="/#/city" class="btn btn-primary">Sub-categoria</a>
                <a href="/#/district" class="btn btn-primary">Unidade</a>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-success">Produtos</button>
                <button type="button" class="btn btn-success">Agrupamento</button>
                <button type="button" class="btn btn-success">Preço Agrupamento</button>
            </div>
        </div>
    </div>

</md-card>