<md-sidemenu locked="true" layout="column" layout-align="center stretch">
    <md-sidemenu-group>
        <!--<md-sidemenu-button class="md-no-sticky"  md-icon="settings" href="#/home"></md-sidemenu-button>-->
        <md-button md-heading="Página Inicial" href="#/home" class="button-side">
            <md-icon md-font-set="material-icons" class="button-side-icon">home</md-icon> Página Inicial
        </md-button>
        <md-sidemenu-content md-icon="assignment_ind" md-heading="Gerenciamento de Pessoas" md-arrow="true">
            <md-divider></md-divider>
            <md-sidemenu-button ng-click="toggleSideNavPanel()" href="#/state">Estado</md-sidemenu-button>
            <md-sidemenu-button ng-click="toggleSideNavPanel()" href="#/city">Cidade</md-sidemenu-button>
            <md-sidemenu-button ng-click="toggleSideNavPanel()" href="#/district">Setor</md-sidemenu-button>
        </md-sidemenu-content>
        <md-sidemenu-content md-icon="settings" md-heading="Gerenciamento de Produtos" md-arrow="true">
            <md-divider></md-divider>
            <md-sidemenu-button ng-click="toggleSideNavPanel()" href="#">Unidade</md-sidemenu-button>
            <md-sidemenu-button ng-click="toggleSideNavPanel()" href="#">Categoria</md-sidemenu-button>
            <md-sidemenu-button ng-click="toggleSideNavPanel()" href="#">Sub-Categoria</md-sidemenu-button>
            <md-sidemenu-button ng-click="toggleSideNavPanel()" href="#">Produto</md-sidemenu-button>
        </md-sidemenu-content>
        <md-sidemenu-content md-icon="assessment" md-heading="Relatórios" md-arrow="true">
            <md-divider></md-divider>
            <md-sidemenu-button ng-click="toggleSideNavPanel()" href="#">Estado</md-sidemenu-button>
            <md-sidemenu-button ng-click="toggleSideNavPanel()" href="#">Cidade</md-sidemenu-button>
            <md-sidemenu-button ng-click="toggleSideNavPanel()" href="#">Setor</md-sidemenu-button>
        </md-sidemenu-content>
    </md-sidemenu-group>
</md-sidemenu>