<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar layout="row">
        <div class="md-toolbar-tools">
            <h2>
                <span>Menus</span>
            </h2>
        </div>
    </md-toolbar> 
    <md-content class="">
        <div ng-include="'partials/layout/list-menus.html'"></div>
    </md-content> 
</md-sidenav>