<md-toolbar  layout="row">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Side Panel" ng-click="toggleSideNavPanel()">
            <md-icon md-svg-icon="img/icons/menu.svg"></md-icon>
        </md-button>
        <h2 >
            <a ng-href="/#/index">Metro Pizzaria Parreira</a>
        </h2>
    </div>
</md-toolbar>