<ol class="breadcrumb col-lg-12" flex md-whiteframe="2">
    <li>
        <a href="#/home">Página Inicial</a>
    </li>
    <li>
        <a href="#/state">Lista de Estados</a>
    </li>
    <li class="active">
        <pz-new-edit id="state.id"></pz-new-edit>
    </li>
</ol>

<pz-title>Estado: {{state.name}} - {{state.uf| uppercase}}</pz-title>

<md-card flex class="col-md-12" md-whiteframe="2">
    <div class="col-md-12">
        <form novalidate name="form" class="row" ng-submit="submit()">
            <div layout-gt-xs="row">
                <md-input-container  md-colspan-sm="9"  md-rowspan="9" class="md-block" flex-gt-xs="">    
                    <input name="name" ng-model="state.name" required placeholder="Nome do estado" ng-pattern="/^[a-zA-Z\u00C0-\u00FF ]+$/">  
                    <div ng-messages="form.name.$error" for="name">
                        <div ng-message-exp="['required']">
                            Nome do estado obrigatório
                        </div>
                        <div ng-message-exp="['pattern']">
                            Deve conter somente texto sem números
                        </div>
                    </div>
                </md-input-container>
                <md-input-container  md-colspan-sm="3"  md-rowspan="3" class="md-block">
                    <label>UF</label>
                    <input name="uf" ng-model="state.uf" required  md-no-asterisk
                           maxlength="2" md-maxlength="2" md-minlength="2"
                           ng-pattern="/^[a-zA-Z]+$/">
                    <div ng-messages="form.uf.$error" multiple md-auto-hide="true" >
                        <div ng-message="required"  md-auto-hide="!form.uf.$error.required">
                            UF obrigatório
                        </div>
                        <div ng-message-exp="[ 'minlength', 'maxlength', 'pattern']">
                            Deve conter 2 caracteres e somente letras
                        </div>
                    </div>
                </md-input-container>
            </div>
            <pz-section>
                <pz-buttons-save></pz-buttons-save>
                <pz-buttons-return href='#/state'></pz-buttons-return>
            </pz-section>
        </form>
    </div>
</md-card>