<ol class="breadcrumb col-lg-12" flex md-whiteframe="2">
    <li>
        <a href="#/home">Página Inicial</a>
    </li>
    <li class="active">
        Lista de Estados
    </li>
</ol>
<pz-title>Lista de Estados</pz-title>

<md-card flex class="col-lg-12" md-whiteframe="2">
    <pz-button-add href='#/state/new'></pz-button-add>
    <table class="table table-bordred table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>UF</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="state in states">
                <td>{{state.id}}</td>
                <td>{{state.name}}</td>
                <td>{{state.uf}}</td>
                <td layout="row" layout-align="end center">
                    <pz-button-edit href="#/state/edit/{{state.id}}"></pz-button-edit>
                    <pz-button-remove action="confirmDeletion($event, state)"></pz-button-remove>
                </td>
            </tr>
        </tbody>
    </table>
</md-card>